/* styles for profile page*/

.profileContainer_wrapper {
    width: 100%;
    height: 100%;
    padding: 25px;
}

/* styles for profile */

.profile_wrapper {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: auto;
    padding-bottom: 50px;
}

.profile_left_wrapper {
    max-width: 300px;
    height: auto;
}

.profile_img_wrapper {
    min-width: 300px;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
}

.profile_img_wrapper img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.profile_info_wrapper {
    margin-left: 35px;
    width: 100%;
    position: relative;
}

.profile_name {
    color: white;
    display: inline-block;
    margin-bottom: 25px;
}

.profile_status_wrapper {
    margin-bottom: 10px;
}

.profile_status_wrapper input {
    padding: 5px;
}

.profile_status_wrapper span {
    color: lightgray;
}

.bio_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.bio_wrapper .info_box_title,
.info_box_title_about{
    font-size: 18px;
    margin-bottom: 10px;
    color: #E8E0CF;
}

.info_box_title_about {
    font-size: 24px;
    margin: 15px 0 0;
}

.bio_wrapper .info_box_desc {
    margin-top: 5px;
    color: lightgray;
    font-size: 18px;
    word-break: break-word;
}

.social_links_wrapper {
    width: 100%;
    margin-top: 15px;
    text-align: center;
}

.social_links_wrapper a {
    margin-right: 9px;
}

.social_link_icon {
    color: #E8E0CF;
    font-size: 28px !important;
}

.social_link_icon:hover {
    color: #8E8888;
    transform: scale(0.95)
}

.profile_sendMessage_btn {
    position: absolute;
    bottom: -30px;
    right: 0;
    border-radius: 5px;
    width: 100px;
    height: 25px;
}

.profile_sendMessage_btn:hover {
    background: #E8E0CF;
}

.profile_sendMessage_btn:active {
    transform: scale(0.99);
}

/* styles for profile end */


/* styles for profile posts */

.posts_wrapper {
    width: 100%;
    height: auto;
}

.postMessage_form {
    padding-bottom: 25px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.postMessage_form textarea {
    width: 100%;
    min-height: 100px;
    max-height: 200px;
    border-radius: 10px;
    resize: vertical;
    padding: 10px;
    background: whitesmoke;
}

.postMessage_form button {
    width: 80px;
    height: 30px;
    border-radius: 5px;
    margin-top: 10px;
    transition: all .1s ease;
}

.postMessage_form button:active {
    transform: scale(0.99);
}

.postMessage_form button:hover {
    background: #E8E0CF;
}

.postMessage_wrapper {
    width: 100%;
    margin: 25px auto 0;
}

.postMessage_box {
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    padding: 0 0 25px 0;
    border-bottom: 1px solid #8E8888;
}

.postMessage_user {
    margin-right: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.user_name {
    margin-top: 5px;
    color: #E8E0CF;
}

.postMessage_img_Wrapper {
    width: 75px;
    height: 75px;
}

.postMessage_img_Wrapper img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.postMessage_message_box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.postMessage_message_box p {
    padding: 0 0 15px;
    color: lightgray;
}

.likesCount_box {
    min-width: 80px;
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.likesCount_box span {
    color: #E8E0CF;
}

.likeIcon {
    color: #8E8888;
    margin-right: 5px;
}

.likesCount_box:active .likeIcon {
    color: #E8E0CF;
}

.likesCount_box:active {
    transform: translateY(-1px);
}

/* styles for profile posts end */

/* styles for profile page end */