/* styles for aside */

.aside {
    width: 20%;
    height: auto;
}

.asideOpen {
    transform: translateY(0%);
    transition: all .5s ease;
}

.nav {
    width: 100%;
}


.nav li:last-child {
    margin: 50px 0 0;
}

.nav li a {
    color: white;
    font-size: 24px;
}

.nav li a span {
    display: block;
    padding: 15px 25px;
    border-radius: 10px;
}

.active_link span {
    width: 100%;
    display: block;
    background: #5B555F;
    padding: 25px;
    color: #E8E0CF;
}

/* style for aside avatars */
.avatars_wrapper {
    margin-top: 100px;
    width: 100%;
}

.avatars_wrapper h5 {
    text-align: center;
    margin-bottom: 10px;
}

.avatars_box {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 280px;
}

.avatar_wrapper {
    flex: 0 0 30%;
    max-width: 30%;
    display: flex;
    padding: 6px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.img_wrapper {
    width: 60px;
    height: 60px;
}

.img_wrapper img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.user_name {
    color: #E8E0CF;
    margin-top: 4px;
    overflow-y: hidden;
}
/* style for aside avatars end*/

/* styles for aside end */



/* media styles for aside */
@media screen and (max-width: 991px){
    aside {
        position: absolute;
        left: 0;
        top: 0;
        background: #443F49;
        z-index: 51;
        width: 100% !important;
        height: 100vh !important;
        transform: translateY(-100%);
        overflow: scroll !important;
    }
    .avatars_wrapper {
        margin-top: 50px;
        margin-bottom: 25px;
    }
}
/* media styles for aside end */