/* styles for header component */

.header {
    width: 100%;
    text-align: center;
    height: 80px;
    display: flex;
    border-bottom: 1px solid #8E8888;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    background: #443F49;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.actionLogout_box {
    color: white;
    cursor: pointer;
}

.menuBtn_visible {
    display: none;
}

.menuBtn_visible button,
.actionLogout_box button,
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 35px;
    color: white;
    font-size: 18px;
    background: #443F49;
    border: 1px solid #8e8888;
    border-radius: 10px;
}

.menuBtn_visible button:active,
.actionLogout_box button {
    transform: scale(0.99);
}

/* styles for header component end */


/* media styles for header */
@media screen and (max-width: 991px) {
    .menuBtn_visible {
        display: block;
    }
    .header {
        padding: 0 15px;
    }
}
/* media styles for header end */