.form_control.error textarea,
.form_control.error input {
    border: 1px solid bisque;
}

.form_control {
    position: relative;
}

.form_control .errorMessage {
    font-size: 14px;
    color: bisque;
    margin-bottom: 5px;
    position: absolute;
    left: 0;
    top: -17px;
}

.commonError {
    color: #e8e0cf;
    padding-bottom: 5px;
    bottom: 100px;
}
