/* common styles for all app */

.App {
  max-width: 1440px;
  min-height: 100vh;
  border-radius: 10px;
  margin: 0 auto;
  background: rgba(59,51,64, 0.7);
  /*backdrop-filter: blur(50px);*/
  padding: 0 0 25px;
  box-sizing: border-box;
}

.main_wrapper {
  width: 100%;
  min-height: 800px;
  display: flex;
  justify-content: space-between;
}

.main_page {
  width: 80%;
  height: auto;
  border-left: 1px solid #8E8888;
}

/* common styles for all app end */


/* material ui button */

.MuiButton-contained {
  width: 80px;
  height: 30px;
  color: white !important;
  background: #8E8888 !important;
  letter-spacing: 0.5px !important;
}

#root .MuiButton-contained.Mui-disabled {
  filter: brightness(0.8);
}

#root .MuiButton-contained.followed {
  background: initial !important;
  border: 1px solid #8E8888 !important;
}

#root .MuiButton-root {
  text-transform: initial !important;
}

/* material ui button end */