/* common styles for all app */

.App {
  max-width: 1440px;
  min-height: 100vh;
  /*border: 1px solid #E8E0CF;*/
  border-radius: 10px;
  margin: 0 auto;
  background: rgba(59,51,64, 0.7);
  backdrop-filter: blur(50px);
  padding: 0 0 25px;
  box-sizing: border-box;
}

.main_wrapper {
  width: 100%;
  min-height: 800px;
  display: flex;
  justify-content: space-between;
}

.main_page {
  width: 75%;
  height: auto;
  border-left: 1px solid #A9A39A;
}

/* common styles for all app end */


/* material ui button */

.MuiButton-contained {
  width: 60px;
  height: 30px;
}

.MuiButton-contained.Mui-disabled {
  background: rgba(224,224,224, 0.9) !important;
}

.MuiButton-contained.followed {
  background: forestgreen !important;
}

.MuiButton-root {
  text-transform: initial !important;
}

/* material ui button end */